<div style="border:2px solid black; padding:10px;">
    <h3>Nhóm 15</h3>
    <h1 style='color:red;text-align:center;font-size:30px'>Chủ đề: Phân tích về doanh thu phim<b></b></h1>
</div>

<h3>Danh sách thành viên</h3>
<li> Nguyễn Quốc Hưng - 21120464 </li>
<li> Đoàn Đức Hữu - 21120465 </li>
<li> Võ Minh Khuê - 21120486</li>
<li> Hồ Trọng Lễ - 21120494</li>

<h1 style='color:blue;text-align:center;font-size:30px'><b>Phần I - A.Thu thập dữ liệu</b></h1>

# Import thư viện

In [17]:
import scrapy
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Tạo Project với Scrapy

In [18]:
#!scrapy startproject boxoffice_crawler

## Thu nhập thông tin phim từ năm 1990 đến năm 2020

In [19]:
#!cd boxoffice_crawler/boxoffice_crawler
#!scrapy crawl BoxOfficeMojo

### Đọc file dữ liệu

In [20]:
df = pd.read_csv(
    './boxoffice_crawler/boxoffice_crawler/boxoffice_1990_2022.csv', encoding='latin1')
df.head(20)

,title,domestic_revenue,world_revenue,distributor,opening_revenue,opening_theaters,budget,MPAA,genres,in_release,release_date
0,Thomas and the Magic Railroad,"$15,933,506","$19,748,009",Destination Films,"$4,154,932","2,016",NaN,NaN,"Adventure,Comedy,Drama,Family,Fantasy",159,26/07/2000
1,The Talented Mr. Ripley,"$81,298,265","$128,798,265",Paramount Pictures,"$12,738,237","2,307","$40,000,000",R,"Crime,Drama,Thriller",373,25/12/1999
2,One False Move,"$1,543,112","$1,543,112",IRS Media,"$44,545",5,NaN,R,"Crime,Drama,Thriller",238,08/05/1992
3,C'est la vie,"$805,472","$805,472",The Samuel Goldwyn Company,"$18,749",2,NaN,NaN,"Comedy,Drama,Romance",63,02/11/1990
4,Coupe de Ville,"$715,983","$715,983",Universal Pictures,"$66,871",7,NaN,NaN,"Comedy,Drama",298,09/03/1990
5,Galaxy Quest,"$71,583,916","$90,683,916",DreamWorks Distribution,"$7,012,630","2,412","$45,000,000",PG,"Adventure,Comedy,Sci-Fi",373,25/12/1999
6,Hero,"$53,710,019","$177,395,557",Miramax,"$17,800,000","2,031","$31,000,000",PG-13,"Action,Adventure,Drama",133,27/08/2004
7,Little Nemo: Adventures in Slumberland,"$1,368,000","$1,368,000",Hemdale,"$407,695",579,NaN,NaN,"Adventure,Animation,Comedy,Family,Fantasy,Musical",133,21/08/1992
8,Zebrahead,"$1,557,771","$1,557,771",Triumph Releasing Corporation,"$609,041",251,NaN,R,"Drama,Romance",70,23/10/1992
9,The Phantom of the Opera,"$51,268,815","$154,648,887",Warner Bros.,"$4,001,890",622,"$70,000,000",PG-13,"Drama,Musical,Romance,Thriller",375,22/12/2004
10,South Central,"$1,373,196","$1,373,196",Warner Bros.,"$147,629",37,NaN,R,"Crime,Drama",105,18/09/1992
11,Jurassic Park,"$357,067,947","$978,167,947",Universal Pictures,"$47,026,828","2,404","$63,000,000",PG-13,"Action,Adventure,Sci-Fi,Thriller",569,11/06/1993
12,Shadow of the Wolf,"$1,434,174","$1,434,174",Triumph Releasing Corporation,"$747,119",373,NaN,PG-13,"Adventure,Drama,Thriller",302,05/03/1993
13,Wild Orchid II: Two Shades of Blue,"$573,904","$573,904",Triumph Releasing Corporation,"$323,288",266,NaN,R,"Drama,Romance",238,08/05/1992
14,Brother's Keeper,"$1,305,915","$1,305,915",Creative Thinking International,"$10,758",1,NaN,R,"Crime,Documentary,Mystery",479,09/09/1992
15,Coyote Ugly,"$60,786,269","$113,916,474",Walt Disney Studios Motion Pictures,"$17,319,282","2,653","$45,000,000",PG-13,"Comedy,Drama,Music,Romance",154,04/08/2000
16,Charlie's Angels,"$125,305,545","$264,105,545",Sony Pictures Entertainment (SPE),"$40,128,550","3,037","$93,000,000",PG-13,"Action,Adventure,Comedy,Crime,Thriller",424,03/11/2000
17,Sidewalks of New York,"$2,402,652","$3,520,373",Paramount Classics,"$545,132",99,NaN,R,"Comedy,Romance",404,23/11/2001
18,Gabriela,"$2,335,352","$2,335,352",Power Point Films,"$63,706",11,NaN,R,"Drama,Romance",291,16/03/2001
19,Waking Life,"$2,901,447","$3,176,880",Fox Searchlight,"$88,977",4,NaN,R,"Animation,Drama,Fantasy",439,19/10/2001