<div style="border:2px solid black; padding:10px;">
    <h3>Nhóm 15</h3>
    <h1 style='color:red;text-align:center;font-size:30px'>Chủ đề: Phân tích về doanh thu phim<b></b></h1>
</div>

<h3>Danh sách thành viên</h3>
<li> Nguyễn Quốc Hưng - 21120464 </li>
<li> Đoàn Đức Hữu - 21120465 </li>
<li> Võ Minh Khuê - 21120486</li>
<li> Hồ Trọng Lễ - 21120494</li>

<h1 style='color:blue;text-align:center;font-size:30px'><b>Phần II</b></h1>

# Import thư viện

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd 
import seaborn as sns
sns.set_theme()
import os
import re
import statistics
import seaborn as sns
sns.set(rc={'axes.facecolor':'lightblue', 'figure.facecolor':'lightgray'})

In [2]:
import sys
sys.executable

'c:\\Users\\dhuu2\\AppData\\Local\\Programs\\Python\\Python311\\python.exe'

## Đọc file 'processed_data' vào dataframe df

In [3]:
movies_df = pd.read_csv('./data/processed/processed_data.csv')
movies_df.head(10)

,title,domestic_revenue,world_revenue,distributor,opening_revenue,MPAA,genres,in_release,release_date
0,The Talented Mr. Ripley,81298265,128798265,Paramount Pictures,12738237.0,R,"Crime,Drama,Thriller",373.0,1999-12-25
1,One False Move,1543112,1543112,IRS Media,44545.0,R,"Crime,Drama,Thriller",238.0,1992-05-08
2,Galaxy Quest,71583916,90683916,DreamWorks Distribution,7012630.0,PG,"Adventure,Comedy,Sci-Fi",373.0,1999-12-25
3,Hero,53710019,177395557,Miramax,17800000.0,PG-13,"Action,Adventure,Drama",133.0,2004-08-27
4,Zebrahead,1557771,1557771,Triumph Releasing Corporation,609041.0,R,"Drama,Romance",70.0,1992-10-23
5,The Phantom of the Opera,51268815,154648887,Warner Bros.,4001890.0,PG-13,"Drama,Musical,Romance,Thriller",375.0,2004-12-22
6,South Central,1373196,1373196,Warner Bros.,147629.0,R,"Crime,Drama",105.0,1992-09-18
7,Jurassic Park,357067947,978167947,Universal Pictures,47026828.0,PG-13,"Action,Adventure,Sci-Fi,Thriller",569.0,1993-06-11
8,Shadow of the Wolf,1434174,1434174,Triumph Releasing Corporation,747119.0,PG-13,"Adventure,Drama,Thriller",302.0,1993-03-05
9,Wild Orchid II: Two Shades of Blue,573904,573904,Triumph Releasing Corporation,323288.0,R,"Drama,Romance",238.0,1992-05-08

<h2 style='color:#32a852;text-align:center;font-size:25px'><b>A. Mô hình hóa dữ liệu</b></h2>

<h2 style='color:#32a852;text-align:center;font-size:25px'><b>B. Đánh giá mô hình</b></h2>